{% extends "base.html" %}

{% block title %}Movie List{% endblock %}

{% block content %}
<div class="movie-list">
    {% for movie in page_obj %}
        <div class="movie-card">
            <h2><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h2>
            {% if movie.poster_image %}
                <img src="{{ movie.poster_image.url }}" alt="{{ movie.title }}">
            {% endif %}
        </div>
    {% endfor %}
</div>
<div>
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
